<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <authorization defaultProvider="custom">
      <providers>
        <add name="sql" type="Sitecore.Security.AccessControl.SqlServerAuthorizationProvider, Sitecore.Kernel" 
             set:type="Stendahls.Sc.DeleteAccessRights.SqlServerAuthorizationProvider, Stendahls.Sc.DeleteAccessRights" />
        <add name="custom" type="Sitecore.Buckets.Security.BucketAuthorizationProvider, Sitecore.Buckets"
             set:type="Stendahls.Sc.DeleteAccessRights.BucketAuthorizationProvider, Stendahls.Sc.DeleteAccessRights" />
      </providers>
    </authorization>
    <accessRights>
      <rights>
        <add patch:after="add[@name='item:delete']" name="item:removeversion" comment="Remove version right for items." title="Remove version" modifiesData="true" />
      </rights>
    </accessRights>
  </sitecore>
</configuration>
